.footer {
  border-top: 0.1rem solid #4A4a4a;
  background-color: #222020;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: 'Exo', sans-serif; /* Fallback to sans-serif if Exo is not loaded */
}


.column {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 75%;
  text-align: center;
  gap: 3rem;
  margin-bottom: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

.link {
  color: #fff;
  text-decoration: none;

}

.link:hover {
  color: #4A4a4a;
}

.socialLink {
  margin-right: 15px;
  width: auto;
  color: white;
}

.socialLink:hover {
  color: #4A4a4a;
}



.footerText {
  text-align: center;
  flex-basis: 100%;
}
