.QuestionPageBody {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  height: 100vh;
  align-items: stretch;
  justify-items: stretch;
  gap: 10px;
  font-family: 'Exo', sans-serif;
  background-color: black;
  color: #4a4a4a;
  overflow: auto;
}

.QuestionPageNavbar {
  grid-row: 1 / 2;
  grid-column: 2 / 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  background-color: #222020;
  color: white;
  padding: 10px;
  place-items: center;
}

.QuestionPageLeftbar {
  display: grid;
  grid-row: 1 / 8;
  grid-column: 1 / 2;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

.QuestionPageRightbar {
  grid-row: 1 / 8;
  grid-column: 6 / 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
  align-content: flex-start;
  background-color: black;
  color: white;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
}

.QuestionPageRightbar p {
  margin-left: 5px;
}

.QuestionPageQuestions {
  grid-row: 1 / 8;
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 10px;
  overflow-y: auto;
  list-style-type: none;
}

@media (max-width: 768px) {
  .QuestionPageQuestions {
    grid-column: 1 / -1;
  }
}

.questionBubble {
  background-color: #4a4a4a;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 98%;
  box-sizing: border-box;
  line-height: 2;
  font-size: 20px;
}

.questionBubble h2 {
  font-size: 25px;
}

.questionBubble ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 10px;
}

.questionBubble li {
  background-color: #2b2b2b;
  color: white;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  list-style-type: none;
}

.questionBubble p {
  margin-top: 10px;
}

.questionBubble p.author {
  font-weight: bold;
}

.questionBubble p.published {
  font-weight: bold;
}

.QuestionPageRightbarBubbles {
  background-color: #000000;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 2;
}

.QuestionPageRightbarBubbles h2 {
  margin: 20px 5px;
}

.TagsRightBar {
  padding: 10px;
  background-color: #000000;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  height: 60px;
  width: 90%;
  color: white;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  outline: none;
  text-align: center;
  align-items: center;
}

.askNewQuestion {
  background-color: #4a4a4a;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 20px 40px;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.askNewQuestion:hover {
  background-color: #000000;
  color: white;
}

.commentInput {
  width: 100%;
  min-height: 50px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  color: #f5f5f5;
  background-color: #000000;
  border: 1px solid #4a4a4a;
  border-radius: 4px;
  font-size: 16px;
  resize: vertical;
  outline: none;
  overflow: auto;
}

.commentUsername {
  font-weight: bold;
}

.commentTime {
  font-size: 0.9em;
  color: #bbb;
}

.commentText {
  margin-top: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.submitButton {
  padding: 10px;
  background: linear-gradient(to bottom right, #7e3aed, #d0b3ff);
  border: none;
  border-radius: 5px;
  height: 60px;
  color: white;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 20%;
  outline: none;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.submitButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:focus {
  box-shadow: 0 0 0 3px rgb(253, 110, 0);
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.heartIcon {
  height: 100px;
  width: 100px;
  background: url('heart.png');
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heartBg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  position: relative;
}

.heartBg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.likesAmount {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
  padding-left: 73px;
}

.heartIcon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likesAmount.liked {
  color: red;
}

.loginPrompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  color: #ffffff;
  border: 1px solid #4a4a4a;
  box-shadow: 0 2px 10px #0000001a;
  z-index: 1000;
  border-radius: 4px;
}

.loginPrompt p {
  margin-bottom: 10px;
}

.loginPrompt button {
  padding: 5px 10px;
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loginPrompt button:hover {
  background-color: #333131;
}

/* Adjust profile picture size and positioning */
.questionAuthor {
  display: flex;
  align-items: center;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sortDropdown {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  align-items: center;
  color: white;
}

.sortDropdown label {
  margin-right: 10px;
  font-weight: bold;
}

.sortDropdown select {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color: #4a4a4a;
  color: white;
  cursor: pointer;
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.sortDropdown select:focus {
  outline: none;
  border-color: #000000;
  box-shadow: 0 0 8px rgb(0, 0, 0);
}

.loadMoreButton {
  background-color: #4a4a4a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  transition: background-color 0.3s ease;
}

.loadMoreButton:hover {
  background-color: #222020;
  color: white;
}

/* Comment Input */
.commentInput {
  width: 100%;
  min-height: 50px; /* Set a minimum height */
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
  color: #f5f5f5;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
  outline: none; /* removes the default focus outline */
  overflow: auto;
}

.commentInput::placeholder {
  color: #f5f5f5;
}

.commentInput:focus {
  border-color: #2b2b2b;
}

/* Comment Bubble */
.questionBubblecomment {
  background-color: #2b2b2b; /* Light gray background */
  border-radius: 15px; /* Rounded corners */
  padding: 15px; /* Space inside the bubble */
  margin: 10px 0; /* Space outside the bubble */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 100%; /* Full width of the parent */
  max-width: 98%; /* Ensures responsiveness */
  box-sizing: border-box; /* Includes padding in width calculation */
  display: flex; /* Enables flexbox */
  align-items: flex-start; /* Align items to the start vertically */
  position: relative; /* Necessary for absolute positioning of delete icon */
}

.profilePic {
  width: 40px;
  height: auto; /* Maintains the aspect ratio */
  margin-right: 10px; /* Space between image and text */
}

.commentContent {
  display: flex;
  flex-direction: column; /* Stack username and comment vertically */
}

.commentUsername {
  font-weight: bold;
}

.commentTime {
  font-size: 0.9em;
  color: #bbb;
}

/* Comment Text */
.commentText {
  margin-top: 5px;
  word-wrap: break-word; /* Ensures long words break to the next line */
  white-space: pre-wrap; /* Preserves whitespace and ensures wrapping */
}

/* Other styles remain unchanged */

.heartIcon {
  height: 100px;
  width: 100px;
  background: url('heart.png'); /* Update the path to the correct image */
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heartBg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  position: relative; /* Ensure it is positioned relative to the container */
}

.heartBg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.likesAmount {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
  padding-left: 73px;
}

.heartIcon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likesAmount.liked {
  color: red;
}

.submitButton {
  padding: 10px;
  background: linear-gradient(to bottom right, #7e3aed, #d0b3ff);
  border: none;
  border-radius: 5px;
  height: 60px;
  color: white;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 20%; /* Make it full width within the form */
  outline: none;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.submitButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:focus {
  box-shadow: 0 0 0 3px rgb(253, 110, 0);
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Specific styles for moving comment likes and like amount to the left */
.commentBubblecomment .heartBg {
  left: -80px; /* Adjust this value to move the heartBg to the left */
}

.commentBubblecomment .likesAmount {
  padding-left: 153px; /* Adjust this value to move the likesAmount to the left */
}

.questionAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* InsideQuestionPage.module.css */
.loadingBackground {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
