.QuestionPageBody {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Four columns */
  grid-template-rows: repeat(7, 1fr); /* Four rows */
  height: 100vh;
  align-items: stretch; /* Stretch to fill the cell */
  justify-items: stretch; /* Stretch to fill the cell */
  gap: 10px;
  font-family: 'Exo', sans-serif; /* Fallback to sans-serif if Exo is not loaded */
  background-color: black;
  color: #222020;
  overflow: auto;
}

.QuestionPageNavbar {
  grid-row: 1 / 2; /* Start at the first row and end before the second row */
  grid-column: 2 / 7; /* Start at the first column and end after the sixth column */
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Four columns */
  grid-template-rows: repeat(1, 1fr); /* Four rows */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: #222020; /* Different background color to distinguish navbar */
  color: white;
  padding: 10px;
  place-items: center; /* Shorthand to align items both horizontally and vertically at the center */
}

.QuestionPageLeftbar {
  display: grid;
  grid-row: 1 / 8; /* Start at the first row and end before the second row */
  grid-column: 1 / 2; /* Start at the first column and end after the sixth column */
  grid-template-columns: repeat(1, 1fr); /* Four columns */
  grid-template-rows: repeat(7, 1fr); /* Four rows */
  justify-content: center; /* Center content horizontally */
  background-color: black; /* Different background color to distinguish navbar */
  color: white;
  padding: 10px;
  text-align: center; /* Ensures horizontal text alignment is centered */
}

.QuestionPageRightbar {
  grid-row: 1 / 8; /* Start at the first row and end before the eighth row */
  grid-column: 6 / 7; /* Start at the sixth column and end before the seventh column */
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* One column */
  grid-template-rows: repeat(7, 1fr); /* Seven rows */
  align-content: flex-start;
  background-color: black;
  color: white;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds max-height */
  width: 100%; /* Ensure full width of the parent container */
  height: 100%; /* Ensure full height of the parent container */
  padding: 10px; /* Space inside the component */
  box-sizing: border-box; /* Includes padding and border in width and height calculation */
  margin: 0; /* Ensure no additional margin affecting the size */
}

.QuestionPageQuestions {
  grid-row: 1 / 8; /* Start at the first row and end before the second row */
  grid-column: 2 / 6; /* Start at the first column and end after the sixth column */
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Four columns */
  grid-template-rows: repeat(7, 1fr); /* Four rows */
  border-radius: 15px; /* Rounded corners */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  background-color: black; /* Different background color to distinguish navbar */
  color: white;
  padding: 10px;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds max-height */
  list-style-type: none;
}

.QuestionPageSOLogo {
  width: 80px; /* Set the width to 100 pixels */
  height: auto; /* Maintain the aspect ratio */
  align-items: center;
  margin-left: 80px;
}

.no-bullets {
  list-style-type: none;
  align-items: center;
}

.LeftBarButton {
  display: grid;
  grid-row: 7 / 8; /* Start at the first row and end before the second row */
  padding: 10px; /* Adjust padding to fit your design needs */
  background-image: linear-gradient(to right, #bb5e11, #eb9f3c); /* Gradient from dark green to light green */
  border: none; /* No border for a more modern look */
  border-radius: 5px; /* Slightly rounded corners */
  height: 60px;
  color: white; /* Text color */
  margin: 10px; /* Adds space around the button */
  font-size: 16px; /* Suitable font size for readability */
  font-weight: bold; /* Bold text to make it stand out */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for interactive feedback */
  outline: none;

  text-align: center;
  align-items: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LeftBarButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for 3D effect */
  background-image: linear-gradient(to bottom right, #d68418, #d17122); /* Gradient from dark green to light green */
}

.LeftBarButton:focus {
  box-shadow: 0 0 0 3px rgb(253, 110, 0); /* Focus state with a light green glow */
}

.OrangeSearchBar {
  display: grid;
  grid-column: 2 / 5;
  width: 100%; /* Full width of the container */
  padding: 12px 20px; /* Ample padding for easy text entry */
  margin: 8px 0; /* Margin for some spacing around */
  box-sizing: border-box; /* Include padding and border in the width */
  border: 2px solid #ff7f50; /* Orange border */
  border-radius: 4px; /* Slightly rounded borders for a modern look */
  background-color: white; /* White background */
  color: #333; /* Dark color for the text for readability */
  font-size: 16px; /* Adequate font size for clear visibility */

  /* Shadows for some depth - subtle but effective */
  box-shadow: 0 2px 5px rgba(255, 127, 80, 0.4);

  /* Transition for the border and box-shadow on focus */
  transition:
    border 0.3s ease,
    box-shadow 0.3s ease;
}

.orangeSearchBar:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #d68418; /* Darker orange for focus */
  box-shadow: 0 0 8px rgba(255, 69, 0, 0.5); /* Brighter and bigger shadow on focus */
}

.questionBubble {
  background-color: #151517; /* Light gray background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Space inside the bubble */
  margin: 10px; /* Space outside the bubble */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 100%; /* Full width of the parent */
  max-width: 98%; /* Ensures responsiveness */
  box-sizing: border-box; /* Includes padding in width calculation */
}
.QuestionPageRightbarBubbles {
  background-color: #151517; /* Light gray background */
  border-radius: 15px; /* Rounded corners */
  padding: 20px; /* Space inside the bubble */
  margin: 10px; /* Space outside the bubble */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 90%; /* Fixed width, adjust as needed */
  max-width: 100%; /* Ensures responsiveness */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.TagsRightBar {
  padding: 10px; /* Adjust padding to fit your design needs */
  background: linear-gradient(to bottom right, #7e3aed, #d0b3ff);
  border: none; /* No border for a more modern look */
  border-radius: 5px; /* Slightly rounded corners */
  height: 60px;
  width: 90%;
  color: white; /* Text color */
  margin: 10px; /* Adds space around the button */
  font-size: 16px; /* Suitable font size for readability */
  font-weight: bold; /* Bold text to make it stand out */
  cursor: pointer; /* Cursor changes to pointer to indicate it's clickable */
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease; /* Smooth transition for interactive feedback */
  outline: none;
  text-align: center;
  align-items: center;
}

.askNewQuestion {
  padding: 10px;
  background: linear-gradient(to bottom right, #7e3aed, #d0b3ff);
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  color: white;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 83%; /* Fixed width, adjust as needed */

  outline: none;
  text-align: center;
  text-decoration: none;
}

/* Comment Input */
.commentInput {
  width: 100%;
  min-height: 50px; /* Set a minimum height */
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  background-color: #2b2b2b;
  color: #f5f5f5;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  font-size: 16px;
  resize: vertical; /* Allow vertical resizing */
  outline: none; /* removes the default focus outline */
  overflow: auto;
}

.commentInput::placeholder {
  color: #f5f5f5;
}

.commentInput:focus {
  border-color: #2b2b2b;
}

/* Comment Bubble */
/* Comment Bubble */
.questionBubblecomment {
  background-color: #2b2b2b; /* Light gray background */
  border-radius: 15px; /* Rounded corners */
  padding: 15px; /* Space inside the bubble */
  margin: 10px 0; /* Space outside the bubble */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 100%; /* Full width of the parent */
  max-width: 98%; /* Ensures responsiveness */
  box-sizing: border-box; /* Includes padding in width calculation */
  display: flex; /* Enables flexbox */
  align-items: flex-start; /* Align items to the start vertically */
  position: relative; /* Necessary for absolute positioning of delete icon */
}

.profilePic {
  width: 40px;
  height: auto; /* Maintains the aspect ratio */
  margin-right: 10px; /* Space between image and text */
}

.commentContent {
  display: flex;
  flex-direction: column; /* Stack username and comment vertically */
}

.commentUsername {
  font-weight: bold;
}

.commentTime {
  font-size: 0.9em;
  color: #bbb;
}

/* Comment Text */
.commentText {
  margin-top: 5px;
  word-wrap: break-word; /* Ensures long words break to the next line */
  white-space: pre-wrap; /* Preserves whitespace and ensures wrapping */
}

/* Other styles remain unchanged */

.heartIcon {
  height: 100px;
  width: 100px;
  background: url('heart.png'); /* Update the path to the correct image */
  background-position: left;
  cursor: pointer;
  position: absolute;
}

.heartBg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 100ms ease;
  position: relative; /* Ensure it is positioned relative to the container */
}

.heartBg:hover {
  background: rgba(255, 192, 200, 0.7);
}

.likesAmount {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #888;
  font-weight: 900;
  margin-left: 6px;
  padding-left: 73px;
}

.heartIcon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}

.likesAmount.liked {
  color: red;
}

.submitButton {
  padding: 10px;
  background: linear-gradient(to bottom right, #7e3aed, #d0b3ff);
  border: none;
  border-radius: 5px;
  height: 60px;
  color: white;
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 20%; /* Make it full width within the form */
  outline: none;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.submitButton:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submitButton:focus {
  box-shadow: 0 0 0 3px rgb(253, 110, 0);
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* Specific styles for moving comment likes and like amount to the left */
.commentBubblecomment .heartBg {
  left: -80px; /* Adjust this value to move the heartBg to the left */
}

.commentBubblecomment .likesAmount {
  padding-left: 153px; /* Adjust this value to move the likesAmount to the left */
}
