@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

.hero-section {
  font-family: 'Exo', sans-serif; /* Fallback to sans-serif if Exo is not loaded */
  background-color: #222022;
  padding: auto;
  text-align: center;
}

.hero-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.hero-content h2 {
  color: #ff7f00;
  font-size: 2.5rem;
  letter-spacing: 1rem;
  text-shadow: 2px 2px 4px rgba(245, 183, 75, 0.831);
  text-transform: uppercase;
  font-weight: bold;
}

.info-box {
  flex-basis: calc(50% - 20px);
  background: linear-gradient(to bottom right, #ff7f00, #ffb700);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  transition: opacity 0.5s ease, transform 0.5s ease;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.box {
  color: #ff7f00;
  flex-basis: calc(50% - 20px);
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
}

.box img {
  max-width: 70%;
  height: auto;
}

.styles.box p {
  flex-basis: calc(100% - 50px);
  font-size: 1.2rem;
  margin-bottom: 10px;
  border-color: orange;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  font-weight: bold;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.tag-list li {
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: #9ab3ee;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.box button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ff7f00;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.box button:hover {
  background-color: #e65c00;
}
