.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #000000;
  color: #7e3aed;
  font-family: 'Exo', sans-serif;
  z-index: 10;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9); /* o background-color: #000000 */
  position: absolute;
  top: 100%;
  left: 0;
  width: 25%;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.6rem;
  transition: transform 0.3s ease;
  z-index: 100;
}

.mobileMenu.open {
  display: flex;
}

.logo {
  height: 4rem;
}

.menuToggle {
  cursor: pointer;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 6px 5%;
  position: relative;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition: transform 0.3s;
}

.mobileMenu a {
  color: #7e3aed;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.mobileMenu a:hover {
  background-color: #7e3aed;
  color: #fff;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .menuToggle:hover .hamburger {
    background-color: #7e3aed;
  }
}

.searchBar {
  background-color: #000000;
  border-color: #7e3aed;
  border-radius: 20px;
  padding: 12px 20px;
  width: 40%;
  font-size: 1.2rem;
  color: #ffffff;
}

.searchBar::placeholder {
  color: #ffffff;
  font-size: 1rem;
}

.loginBtn {
  background-color: #000000ae;
  color: #7e3aed;
  border-radius: 15px;
  border-color: #7e3aed;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
.signInBtn {
  background-color: #7e3aed;
  color: #ffffff;
  border-radius: 15px;
  border-color: #7e3aed;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: #7e3aed;
  color: #ffffff;
}

.signInBtn:hover {
  background-color: #000000ae;
  color: #7e3aed;
}
