.search {
  display: flex;
  padding-left: 50px;
  align-items: center;
  position: relative;
  background-color: #000;
  font-family: 'Exo', sans-serif;
}

.searchInput {
  position: relative;
  width: 100%;
  max-width: 250px;
  border: 1px solid #8d8c8c;
  background-color: #222020;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 35px;
}

.inputField {
  width: 100%;
  background-color: #222020;
  font-family: 'Exo', sans-serif;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-image: url('/assets/icons/close_white.svg');
  background-size: cover;
}

.closeIcon:hover {
  background-image: url('/assets/icons/close_7e3aed.svg');
}
